{
	"singleQuote": false,
	"semi": true,
	"printWidth": 80,
	"tabWidth": 2,
	"useTabs": true,
	"jsxSingleQuote": true,
	"trailingComma": "all",
	"bracketSpacing": true,
	"bracketSameLine": false
}
