.container {
  display: flex;
  gap: 15px;
  padding: 20px;
  border-bottom: 1px solid rgb(220, 220, 220,);
  text-decoration: none;
  color: black;
}

.title {
  font-weight: bold;
}

.subTitle {
  word-break: keep-all;
}

.author {
  color: grey;
}